<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello </h1>
    <p>
      <%= @message.body %>
    </p>
    <p>
      Make sure you join us.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>